/* TODO: Set the font size and line height */
* {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-direction: row; */
  font-size: 24px;
  background-color: rgb(255, 255, 245);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

h1 {
  font-size: 400%;
  margin: 2%;
  color: rgb(27, 77, 17);
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 125%;
}

nav ul {
  justify-content: space-between;
  min-width: 300px;
  font-size: 125%;
  margin: 10px 20px 0px 20px;
  display: inline;
}

nav a {
  color: #8c9d7e;
  font-weight: bold;
  text-decoration: none;
}

/* main {
  margin: 2% auto;

} */

section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid darkblue;
  margin: 100px;
}

p {
  line-height: 150%;
  margin: 10px 0 10px 0;
}

/* article {
  border-bottom: 1px solid darkblue;
} */

article ul {
  font-family: monospace;
  list-style: square;
  margin: 10px 20px 0px 20px;
}

aside {
  width: 25%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

footer {
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

.contactform {
  display: flex;
  justify-content: center, space-evenly;
  background-image: linear-gradient(black, darkblue);
  display: inline-block;
  width: 50%;
}

.banner {
  width: 100%;
  display: block;
}

.banner-image {
  width: 100%;
  display: block;
}

#profpic img {
  display: flex;
  float: left;
  height: 300px;
  width: 230px;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }
  section {
    padding-right: 0;
  }
}
