/* TODO: Set the font size and line height */
* {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
  /* border: solid black 1px; */
}

:root {
  --darkblue: #13293d;
  --green: rgb(26, 76, 16);
}

body {
  font-size: 24px;
  background-color: rgb(255, 255, 245);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  margin-bottom: 1%;
}

h1 {
  font-size: 4em;
  margin: 2%;
  color: var(--green);
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 150%;
}

nav ul li {
  justify-content: space-between;
  font-size: 1.5em;
  margin: 10px 20px 0px 20px;
  display: inline;
}

nav a {
  color: #8c9d7e;
  font-weight: bold;
  text-decoration: none;
}

/* main {
  margin: 2% auto;

} */

section {
  display: flex;
  /* flex-direction: column; */
  border-bottom: 2px solid darkblue;
  /* margin: 100px; */

  padding-top: 1%;
  padding-bottom: 1%;
  margin: 5%;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
}

p {
  line-height: 150%;
  margin: 10px 0 10px 0;
}

/* article {
  border-bottom: 1px solid darkblue;
} */

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: var(--green);
  color: #fff;
}

.main-header {
  display: flex;
}

.banner {
  width: 100%;
  display: block;
}

.banner-image {
  width: 100%;
  display: block;
}

.about-me {
  display: flex;
  display: inline-block;
}

.about-me img {
  position: relative;
  left: 0px;
  bottom: 0px;
  float: left;
  border: black solid 5px;
  box-shadow: 5px 5px 5px grey;
  align-items: center;
}

.about-me p {
  display: flex;
  position: relative;
  left: 1%;
  top: 30px;
}

.my-projects {
  display: flex;
  position: relative;
  display: inline-block;
}

.contact-me {
  display: flex;
  position: relative;
  display: inline-block;
}

.contact-links {
  line-height: 200%;
  font-size: 1em;
  margin-bottom: 30px;
}

.contact-links ul {
  list-style-type: square;
  margin-left: 5%;
}

.contact-links a {
  text-decoration: underline;
  color: var(--green);
}

.contactform {
  display: flex;
  justify-content: center, space-evenly;
  display: inline-block;
  width: 50%;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }
  section {
    padding-right: 0;
  }
}
